<div class="product-container">
  <!-- FORMULARIO PRODUCTO -->
  <section class="product-form">
    <h2>Formulario Producto</h2>

    <form id="product-form" enctype="multipart/form-data">
      <input type="hidden" id="id_producto" name="id_producto">
      <input type="hidden" id="id_vendedor" name="id_vendedor">
      <input type="hidden" id="imagen_actual" name="imagen_actual">

      <label>Nombre</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto">

      <label>Descripción</label>
      <textarea id="descripcion" name="descripcion" placeholder="Descripción"></textarea>

      <label>Categoría</label>
      <input type="text" id="categoria" name="categoria" placeholder="Categoría">

      <label>Precio</label>
      <input type="number" id="precio" min="1" value="1" name="precio" placeholder="Precio">

      <div class="form-row">
        <div class="form-group">
          <label>Unidades</label>
          <input type="number" id="uds" min="1" value="1" name="uds" placeholder="uds">
        </div>

        <div class="form-group">
          <label>Imagen</label>

          <!-- Input oculto cuando hay imagen -->
          <input type="file" id="imagen" name="imagen" accept="image/*">

          <img src="" id="imagenProducto" alt="">
          <button type="button" id="btnCambiarImagen" style="margin-top:8px;">Cambiar imagen</button>
        </div>
      </div>
      <div class="actions">
        <button type="button" id="btnGuardar" class="btn btn-new">
          Guardar Producto
        </button>
        <button type="button" id="btnDelete" class="btn btn-delete ">
          Eliminar
        </button>
        <button type="button" id="btnClean" class="btn btn-clean">
          Limpiar
        </button>
      </div>

    </form>
  </section>

  <!-- LISTADO DE PRODUCTOS -->
  <section class="product-list">
    <h2>Productos</h2>
    <div id="grid-container" class="grid">
      <!-- Cards admin de productos -->
    </div>
  </section>
</div>
<div class="avisos">
  <p id="mensaje" class="mensaje"></p>
</div>

<div id="confirmModal" class="modal">
  <div class="modal-content">
    <p id="confirmMessage">¿Estás seguro de que deseas eliminar este producto?</p>
    <button id="confirmYes" class="btn btn-delete">Sí, eliminar</button>
    <button id="confirmNo" class="btn btn-clean">Cancelar</button>
  </div>
</div>