<header class="header">
    <div class="header-logo">
        <a href="/" class="inline-logo">
                <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaV7zoyqEh-R8eIfWyTRzf4yCFpjY_tN1VDg&s" alt="">  
        </a>
    </div>
    <div class="container-navbar">
        <ul class="navbar">
            <li><a href="">Cultura</a></li>
            <li><a href="">Ropa</a></li>
            <li><a href="">Hogar</a></li>
            <li><a href="">Tecnología</a></li>
            <li><a href="">Deporte</a></li>
        </ul>
    </div>
    <div>
        <input type="text" class="search-bar" placeholder="Buscar productos..." />
    </div>
</header>